.ui-document-details-container{
    display: grid;
    grid-template-columns: 25% 75%;
}

.ui-document-details-right{
    max-height: 86vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-document-details-header {
    background: #01a3b7;
    color: white;
}

.ui-document-details-container .ui-document-btn{
    background: transparent;
    border: 2px solid white;
    border-radius: 8px;
    width: 195px;
    height: 50px;
    color: white;
    font-size: 20px;
    text-shadow: 0 0 2px #f3f3f3;
}

.ui-document-details-container .ui-document-btn:hover{
    transition: .25s;
    background: rgba(255,255,255,.25);
}

.ui-document-details-container .ui-document-preview{
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ui-document-details-container .ui-document-preview h3{
    color: #969ca2;
    font-size: 19px;
    margin-top: 40px;
    display: flex;
    letter-spacing: .5px;
}

.ui-document-details-container .ui-document-preview h3 p{
    color: #01a3b7;
    cursor: pointer;
    margin-left: 8px;
}

.ui-document-details-container .ui-document-preview img{
    width: 210px;
}