.ui-home{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.ui-home .ui-noticeboard{
    height: 200px;
}

.ui-homecomponent{
    width: 81%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.ui-homecomponent .ui-cards{
    display: flex;
    height: 150px;
    overflow: hidden;
    position: relative;
    padding: 20px 20px;
    flex-direction: column;
    box-shadow: 0 1px 5px #ccc;
    justify-content: space-between;
}

.ui-homecomponent .ui-cards p{
    z-index: 2;
    color: #444;
    overflow: hidden;
    position: relative;
}

.ui-homecomponent .ui-cards::before{
    content: '';
    width: 565px;
    height: 333px;
    position: absolute;
    background: #ffffff3b;
    transform: rotate(25deg);
    left: -187px;
    bottom: -230px;
    z-index: 0;
}

.ui-homecomponent .ui-cards:hover{
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 3px 2px #777;
}

.ui-homecomponent .ui-cards p{
    color: white;
    display: flex;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
    text-decoration: none;
}

.ui-card-left{
    color: white;
    display: flex;
    font-size: 45px;
    margin-top: 10px;
    align-items: center;
}