.ui-user{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/media/image/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ui-user .ui-user-container{
    width: 430px;
    height: 390px;
    box-shadow: 0 0 15px #cdcdcd;
    background: #ffffff;
    border-radius: 10px;
    padding: 40px;
    position: relative;
}

.ui-user .ui-user-container .ui-login img{
    width: 120px
}

.ui-user .ui-user-container .ui-login label{
    color: #777;
    font-size: 13px;
    margin-top: 25px;
}

.ui-user .ui-user-container .ui-login input{
    width: 100%;
    border: none !important;
    outline: none;
    padding: 10px 0 !important;
    border-radius: 0 !important;
}

.ui-user .ui-user-container .ui-login .bb-gray {
    border-bottom: 1px solid #aaa !important;
}

.ui-user .ui-user-container .ui-login .bb-red{
    border-bottom: 1.5px solid red !important;
}


.ui-user .ui-user-container .ui-login input:focus{
    border-bottom: 1.5px solid  #0f5ea8 !important;
}

.ui-user .ui-user-container .ui-login .ui-signin{
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 26px;
    border-radius: 25px;
    background-color: #0f5ea8;
}

.ui-user .ui-user-container .ui-logo img{
    width: 160px;
}