@media only screen and (max-width: 2750px) {
    .ui-mis-report {
        height: 74.6%;
    }
    .admin-input-height{
        min-height: 87vh;
    }
    .admin-input-height-max{
        max-height: 87vh;
    }
    .min-h-80vh{min-height: 82.5vh}
    .ui-user .ui-user-container {
        width: 500px;
        height: 420px;
    }
    .max-h-80vh{
        max-height: 90vh;
    }
}

@media only screen and (max-width: 1550px) {
    .ui-custom-file .bottom{
        font-size: 9px;
    }
    .ui-hometop .ui-home-options .ui-cards p{
        font-size: 14px;
    }
    .admin-input-height{
        min-height: 84vh;
    }
    .ui-custom-textarea{
        height: 260px;
    }

    .ui-user .ui-user-container {
        width: 430px;
        height: 390px;
    }
}

@media only screen and (max-width: 1450px) {

    .ui-hometop {
         grid-template-columns: 30% 68.7%;
     }
    .ui-hometop .ui-home-options {
        grid-template-columns: 49% 49%;
    }
    .ui-hometop .ui-home-options .ui-cards{
        height: 230px
    }
    .ui-custom-textarea{
        height: 220px;
    }

}

@media only screen and (max-width: 1315px) {
    .ui-custom-file .bottom{
        font-size: 8px;
    }
    .reactDataTable .tbody p{font-size: 14px !important;}
}



@media only screen and (max-width: 1200px) {
    .ui-hometop {
        grid-template-columns: 27% 71.7%;
    }
    .ui-notice-container{
        height: 125px;
    }
    .ui-hometop .ui-home-options{
        grid-gap: 10px;
        grid-template-columns: 24% 24% 24% 24%;
    }
    .ui-home-responsive{
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 45px;
        align-items: center;
    }
    .list-unstyled-notice{
        margin-bottom: 0;
        width: unset;
    }
    .ui-hometop .ui-home-options .ui-cards img{
        width: 60px;
    }
}
