*, *::before, *::after{
   margin: 0;
   padding: 0;
   position: relative;
   box-sizing: border-box;
   transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}

html,body, #root{
   width: 100%;
   height: 100vh;
   background: linear-gradient(to top, #ffeeee, #ffd7da);
}

.h-20px{
   height: 20px
}

.h-0{
   height: 0
}

.f-22px{
   font-size: 22px;
}

.w-90{
   width: 89%;
}

.w-80{
   width: 80%;
}

.f-16px{
   font-size: 16px;
}

.ui-container{
   display: grid;
}

.ui-grid-70{
   grid-template-columns: 70px auto;
}

.ui-container .ui-body-container{
   height: 90.5vh;
   overflow-y: auto;
   padding: 10px 25px;
}

.ui-btn{
   border: none;
   outline: none;
   color: white;
   font-size: 15px;
   padding: 7px 20px;
   border-radius: 5px;
   box-shadow: 0 1px 5px #666;
   background-color: #dc3545;
}

.ui-user-avatar{
   margin-right: 5px;
   border-radius: 50px;
   border: 2px solid #eee;
   width: 40px !important;
   height: 40px !important;
}

.bg-red{background-color: #dc3545}
.bg-pink{background-color: #e04a58}
.bg-orange{background-color: #fdbc00}
.bg-purple{background-color: #7639ea}
.bg-glass{background-color: #ffffff9e}
.bg-gray-pink{background-color: #de6f7e}

.border-right-red{border-right: 2px solid #dc3545}
.border-right-orange{border-right: 2px solid #fdbc00}
.border-right-purple{border-right: 2px solid #7639ea}
.border-right-primary{border-right: 2px solid #007bff}

::-webkit-scrollbar-track{ border-radius: 10px; background-color: #bbb}
::-webkit-scrollbar-thumb { background: #777; border-radius: 10px;}
::-webkit-scrollbar {width: 8px;}