*, *::before, *::after {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

html,body, #root{
   width: 100%;
   height: 100%;
   font-size: 16px;
   background: #ebf2f8;
   background-size: 15px 18px;
   transition: all 0.3s cubic-bezier(0.01, 0.14, 0.89, 0.9);
}

a{text-decoration: none}
a:hover{text-decoration: none}

.h-0{height: 0}
.h-75px{height: 75px}
.h-45px{height: 45px}
.h-50px{height: 50px}
.h-60px{height: 60px}
.h-20px{height: 20px}
.h-215px{height: 215px;}
.h-200px{height: 200px;}

.overflow-y-auto{overflow-y: auto;}
.overflow-x-auto{overflow-x: auto;}

.min-h-80vh{
   min-height: 80.5vh;
}
.max-h-80vh{
   max-height: 80vh;
   overflow-y: auto;
   overflow-x: auto;
}
.min-h-50vh{
   min-height: 50vh;
}
.min-h-70vh{
   min-height: 70vh;
}

.mb-15p{margin-bottom: 15%;}
.mb-20p{margin-bottom: 20% !important;}
.my-20p{margin: 20px 0 !important;}
.my-13p{margin: 13px 0 !important;}

.w-90{width: 89%;}
.w-76{width: 76%}
.w-80{width: 80%;}
.w-86{width: 86%;}
.w-50{width: 50%;}
.w-60px{width: 60px !important;}
.w-80px{width: 80px !important;}
.w-95px{width: 95px !important;}
.w-125px{width: 125px !important;}

input:focus,
textarea:focus,
select:focus{
   border: 1.2px solid #2384d0 !important;
   border-radius: 5px;
}

.ui-custom-input,
.ui-custom-input-no-top,
.ui-custom-keyInput,
.ui-custom-textarea{
   width: 100%;
   padding: 22px 9px 9px;
   border-radius: 5px;
   border: 1.2px solid #e7e7e7;
   -webkit-appearance: checkbox !important;
}
.ui-custom-input-no-top{
   padding: 9px;
}
.ui-custom-label{
   position: absolute;
   z-index: 1;
   font-size: 12px;
   left: 15px;
   top: 3px;
   font-weight: 400;
   color: #2384d0;
}
.ui-custom-textarea{
   height: 180px;
}
.ui-custom-badge{
   background: #2384d0;
   font-size: 14px;
   padding: 0px 8px 3px;
   border-radius: 20px;
   color: white;
   margin-right: 5px;
}

.ui-custom-keyInput{
   padding: 30px 9px 9px;
}

.ui-text{color: #fff}
select,
input[type=date],
.ui-custom-input::placeholder,
.ui-custom-textarea::placeholder{
   color: #666666;
   font-size: 17px;
   font-weight: 600;
}
.ui-custom-file input,
.ui-custom-checkbox input{
   visibility: hidden;
   position: absolute;
   z-index: -1;
}
.ui-custom-file label{
   display: flex;
   overflow: hidden;
   background: #e1e1e1;
   width: 95%;
   justify-content: center;
   align-items: center;
   height: 45px;
   border-radius: 4px;
   color: #585858;
   font-size: 17px;
   font-weight: 500;
}
.ui-custom-checkbox label{
   color: #585858;
   font-weight: 500;
}
.ui-custom-checkbox input[type='checkbox']::before{
   content: '';
   width: 26px;
   height: 26px;
   position: absolute;
   border: 2px solid #2384d0;
   left: -5px;
   top: -5px;
   border-radius: 3px;
   background: white;
}
.ui-custom-checkbox input[type='checkbox']{
   z-index: 0;
   visibility: visible !important;
   position: relative !important;
   left: -14px;
   -webkit-appearance: checkbox !important;
}
.ui-custom-checkbox input[type='checkbox']:checked::after{
   position: absolute;
   left: 4px;
   top: -1px;
   content: '';
   z-index: 5;
   width: 8px;
   height: 14px;
   border: solid #2384d0;
   border-width: 0 3px 3px 0;
   transform: rotate(45deg);
}

.f-16px{font-size: 16px !important;}
.f-14px{font-size: 14px !important;}
.f-15px{font-size: 15px !important;}
.f-18px{font-size: 18px !important;}
.f-19px{font-size: 19px !important;}
.f-20px{font-size: 20px !important;}
.f-22px{font-size: 22px !important;}
.f-28px{font-size: 28px !important;}
.f-30px{font-size: 30px !important;}
.f-capitalize{text-transform: capitalize;}

.pb-6px{padding-bottom: 6px}
.px-13px{padding: 0 13px}

.line-h-35px{line-height: 35px}

.is-invalid{border: 1px solid red}

.text-blue{color: #2384d0; text-shadow: 0 0 2px #c5e5ff;}
.text-copyright{color: #2384d0; text-shadow: 0 0 2px #c5e5ff;    width: 100%;
   bottom: -34px;}
.text-grey{color: #5e6367 !important}
.text-bold{color: #343434 !important;}
.text-project{color: #0f5ea8 !important;}

.link-active{background: #2885ce;}

.bg-red{background-color: #dc3545}
.bg-pink{background-color: #e04a58}
.bg-challan{background-color: #417ca8;}
.bg-blue{background-color: #1c45ef}
.bg-orange{background-color: #f7edde}
.bg-project{background-color: #005da6}
.bg-project-blue{background-color: #39719e}
.bg-project-primary{background-color: #2384d0}
.bg-purple{background-color: #7639ea}
.bg-glass{background-color: #ffffff9e}
.bg-gray-pink{background-color: #de6f7e}

.no-project{font-size: 18px; color: #727272;}

.bg-purple-red{background: linear-gradient(to right, #ff5d6c, #ef2f40, #ff2a63)}
.bg-purple-orange{background: linear-gradient(to right, #ffdf37, #ffc41b, #ffc507)}
.bg-purple-primary{background: linear-gradient(to right, #479fff, #2486ef, #009eff)}
.bg-purple-gradient{background: linear-gradient(to right, #9158ff, #7639ea, #6312ff)}

.border-red{border: 1px solid red !important;}
.border-right-red{border-right: 2px solid #dc3545}
.border-right-orange{border-right: 2px solid #fdbc00}
.border-right-purple{border-right: 2px solid #7639ea}
.border-right-primary{border-right: 2px solid #007bff}
.border-bottom-gray{border-bottom: 1.2px solid #e5e4e4}
.border-bottom-nav{padding: 10px 0;border-bottom: 1px solid #ffffff40;}

::-webkit-scrollbar-track{ background-color: #bbb; width: 2px}
::-webkit-scrollbar-thumb { background: #005da6; border-radius: 10px;}
::-webkit-scrollbar {width: 5px; height: 5px}

.grid-2{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
}
.grid-3{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 13px;
}
.grid-50-50{
   display: grid;
   grid-template-columns: 50% 50%;
}
.grid-55-45{
   display: grid;
   grid-template-columns: 55% 45%;
}

.drop-shadow{
   box-shadow: 0 3px 7px #747474;
}

.f-weight-500{font-weight: 500}
.f-weight-600{font-weight: 600}
.f-weight-700{font-weight: 700}

.cursor-pointer{cursor: pointer}

.ui-container{overflow-y: auto; overflow-x: hidden}

.ui-grid-70{grid-template-columns: 70px auto;}

.ui-body-container{
   height: 92.5%;
}

/*.ui-body-container-short{*/
/*   height: 92.5%;*/
/*}*/

.ui-btn{
   border: none;
   outline: none;
   color: white;
   font-size: 15px;
   padding: 7px 20px;
   border-radius: 5px;
   box-shadow: 0 1px 5px #666;
   background-color: #17a2b8;
}
.ui-dataEntry{
   display: grid;
   grid-gap: 15px;
   grid-template-columns: 36% 63%;
}
.submit-btn{
   font-weight: 700;
   background: #2384d0;
   padding: 10px 15px;
   border: none;
   color: white;
   border-radius: 5px;
   font-size: 18px;
   position: absolute;
   bottom: 12px;
   left: 14px;
}
.report-submit-btn,
.submit-btn-normal{
   font-weight: 700;
   background: #2384d0;
   padding: 10px 15px;
   border: none;
   color: white;
   border-radius: 5px;
   font-size: 18px;
}
.report-submit-btn{background: #00bed4}
.report-export-btn,
.new-btn-normal{
   font-weight: 700;
   background: #d9a800;
   padding: 10px 15px;
   border: none;
   color: white;
   border-radius: 5px;
   font-size: 18px;
}
.report-export-btn{background: #2cca94}
.report-reset-btn,
.reset-btn-normal{
   font-weight: 700;
   background: #f7664e;
   padding: 10px 20px;
   border: none;
   color: white;
   border-radius: 5px;
   font-size: 18px;
}
.report-reset-btn{background: #e0bb24}

.ui-slider-modal{
   display: flex;
   position: fixed;
   background: rgba(0,0,0,.8);
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   justify-content: center;
   align-items: center;
   animation: uiSliderModal cubic-bezier(.5,0,.3,1) .7s;
}
.ui-slider-modal[data-modal=false]{
   display: none !important;
}
.ui-register{
   background: #def4ed;
   height: 100%;
   width: 100%;
   border-radius: 7px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.ui-passwordUpdate{
   background: #f7edde;
   height: 100%;
   width: 100%;
   border-radius: 7px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.ui-profile{
   background: #e8e1f7;
   height: 100%;
   width: 100%;
   border-radius: 7px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.ui-about{
   background: #417ba8;
}
.ui-contact{
   background: #417ba8;
   display: flex;
   flex-direction: column;
}
.ui-about img{
   width: 100%
}
.ui-contact img{
   width: 54%
}
.ui-contact h1{
   font-size: 55px;
   font-weight: lighter;
   margin-bottom: 8%;
}
.ui-slider-modal .fa-times{
   font-size: 25px;
   position: absolute;
   top: 25px;
   right: 25px;
}

.slick-slider,
.slick-slider img,
.slick-slider div{
   height: 100%
}

.ui-slider-modal .ui-char-splitting{
   text-align: center;
   border-radius: 10px;
   font-size: 60px;
   overflow: hidden;
   position: absolute;
   width: 70%;
   height: 550px;
   margin: auto;
   box-shadow: 0 0 7px rgba(255,255,255,.8)
}

.ui-slider-modal .fa-chevron-left{
   position: absolute;
   left: 105px;
   font-size: 30px;
}
.ui-slider-modal .fa-chevron-right{
   position: absolute;
   right: 105px;
   font-size: 30px;
}

.ui-slider-modal .ui-char-splitting .ui-char,
.ui-slider-modal .ui-char-splitting p{
   position: absolute;
   z-index: 10;
   bottom: 100px;
   left: 20px;
   color: white;
   overflow: hidden;
}

.ui-slider-modal .ui-char-splitting p{
   width: 460px;
   font-size: 16px;
   text-align: left;
   bottom: 5px;
   transform: translateY(160%);
   transition: transform .8s cubic-bezier(.7,0,.3,1);
   transition-delay: calc(var(--char_index) * .1s)
}

.ui-slider-modal i{
   color: white;
}

.ui-slider-modal .ui-char-splitting img{
   width: 100%;
   opacity: 0;
   position: relative;
   transition: 1.7s cubic-bezier(.3,0,.7,1);
}

.ui-slider-modal .ui-char-splitting::before{
   content: '';
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, black, transparent);
   position: absolute;
   left: 0;
   right: 0
}

.ui-slider-modal .chars{
   display: inline-block;
   transform: translateY(100%);
   transition: transform .8s cubic-bezier(.7,0,.3,1);
   transition-delay: calc(var(--char_index) * .1s)
}

.ui-slider-modal [data-active=true] .chars{
   transform: translateY(0);
   transition-delay: calc((.8s / 2) + var(--char_index) * .1s)
}

.ui-slider-modal [data-active=true] p{
   transform: translateY(0);
   transition: transform 1.2s cubic-bezier(.7,0,.3,1);
   transition-delay: calc((.8s / 2) + var(--char_index) * .1s)
}

.ui-slider-modal [data-active=true] img{
   opacity: 1;
   transition: 1.7s cubic-bezier(.7,0,.3,1);
}

.ui-checkbox{
   position: relative;
}

.ui-checkbox input[type='checkbox']::before{
   position: absolute;
   content: '';
   z-index: 2;
   width: 20px;
   height: 20px;
   background: #ddd;
   border-radius: 2px;
   top: -3px;
   box-shadow: inset 0 0 5px #454545;
   border: 1px solid #767676;
}

.ui-checkbox input[type='checkbox']:hover::before{
   background: #aaa;
}

.ui-checkbox input[type='checkbox']:checked::before{
   border: none;
   background: #17a2b8;
   box-shadow: 0 0 2px #17a2b8;
}

.ui-checkbox input[type='checkbox']:checked::after{
   position: absolute;
   left: 6px;
   top: -1px;
   content: '';
   z-index: 5;
   width: 8px;
   height: 14px;
   border: solid white;
   border-width: 0 3px 3px 0;
   transform: rotate(45deg);
}

.ui-checkbox label{
   margin-left: 15px;
}

.ui-transparent-select{
   background: transparent;
   border: none;
   width: 100%;
   outline: none;
   padding: 10px;
   border-bottom: 1px solid #17a2b8;
}
.ui-transparent-input{
   background: #f8f8f8;
   width: 100%;
   outline: none;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #c0c0c0;
}

@keyframes uiSliderModal {
   0%{
      transform: scale(0);
   }
   25%{
      transform: scale(1.2);
   }
   50%{
      transform: scale(1);
   }
   75%{
      transform: scale(1.1);
   }
   100%{
      transform: scale(1);
   }
}

.selectToday {
    display: none !important;
}

.tether-element {
    transition: 0s !important;
}

.error {
   font-size: 12px;
   color: red;
}

textarea:hover,
input[type='text']:hover,
input[type='number']:hover,
textarea:active,
input[type = 'text']:active,
input[type = 'number']:active,
textarea:focus,
input[type='text']:focus,
input[type='number']:focus,
select:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
   outline:0px !important;
   -webkit-appearance:none;
   box-shadow: none !important;
}

.btn-message{
   height: 55px;
   background: #179fff;
   color: white;
   font-size: 19px;
   border: none;
   border-radius: 5px;
}

.ui-docDetailsFile{
   width: 100%;
   height: 700px;
   border: 1px solid #808080;
   background-color: #eee;
   box-shadow: 4px 1px 20px #888;
   overflow-y: scroll;
}

.add-button{
   background: #9fb4c4;
   width: 42px;
   height: 55px;
   border: none;
   border-radius: 5px;
   color: white;
   font-size: 22px;
}

.asset-right{
   height: 81.5vh;
   overflow-y: auto;
   overflow-x: hidden;
}

.input-grid{
   display: grid;
   grid-gap: 10px;
   grid-template-columns: auto 42px;
   align-items: center;
}

.border-less-table, .border-less-table td, .border-less-table th {
   border-collapse: unset;
   border-top: none;
}

.document-description-limit {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
   padding: 5px !important;
   width: 150px;
   border: none !important;
   border-top: 1px solid #dee2e6;
   border-bottom: 1px solid #dee2e6;
   margin-top: 6px !important;
}

.ui-received-by{
   position: absolute;
   width: 100%;
   height: 200px;
   background: #ebf2f8;
   top: 61px;
   border-radius: 5px;
   z-index: 5;
   overflow-y: auto;
   box-shadow: 0 0 15px #a2a2a2;
   animation: animte .5s;
}

.ui-received-by-keyword {
   position: absolute;
   width: 100%;
   height: 200px;
   background: #ebf2f8;
   border-radius: 5px;
   z-index: 5;
   overflow-y: auto;
   box-shadow: 0 0 15px #a2a2a2;
}


.ui-received-by-keyword p,
.ui-received-by p{
   font-size: 19px;
   color: white;
   padding: 10px;
   height: 50px;
   background: #2384d0;
   margin-bottom: 0;
   border-left: 5px solid #005da6;
   border-bottom: 1px solid white;
   cursor: pointer;
}

.ui-received-by p:hover{
   background: #469de1;
   border-left: 5px solid #2384d0;
}

.ui-received-by-active {
   background: #469de1 !important;
   border-left: 5px solid #2384d0 !important;
}

.lost-asset-modal .modal-dialog{
   max-width: 1000px !important;
}

@keyframes animte {
   from{
      top: 40px;
   }
   to{
      top: 61px;
   }
}

.ui-document-search{
   background-color: #9AC6E8 !important;
}

.ui-overflow{
   height: 85.5vh;
   overflow-y: auto;
   overflow-x: hidden;
}

.ui-document-search-title{
   margin-bottom: 20px;
   font-weight: 500;
   color: #454545;
   text-align: center;
   font-size: 22px;
   text-shadow: 0 0 1px #212121;
}

.gg-0{
   grid-gap: 0 !important;
}