*, *::before, *::after{
   margin: 0;
   padding: 0;
   position: relative;
   box-sizing: border-box;
   transition: all 0.3s cubic-bezier(1,-0.01, 0.5, 1);
}

html,body, #root{
   width: 100%;
   height: 100vh;
   font-size: 16px;
   background: linear-gradient(90deg, #e9fcff 1%, transparent 5%), linear-gradient(0deg, #f8f8f8 1%,transparent 5%);
   background-size: 15px 18px;
}

a{text-decoration: none}
a:hover{text-decoration: none}

.h-0{height: 0}
.h-75px{height: 75px}
.h-60px{height: 60px}
.h-20px{height: 20px}

.w-90{width: 89%;}
.w-76{width: 76%}
.w-80{width: 80%;}
.w-86{width: 86%;}

.f-16px{font-size: 16px;}
.f-14px{font-size: 14px;}
.f-20px{font-size: 20px;}
.f-22px{font-size: 22px;}

.text-blue{color: #1c45ef}
.text-project{color: #17a2b8}

.bg-red{background-color: #dc3545}
.bg-pink{background-color: #e04a58}
.bg-blue{background-color: #1c45ef}
.bg-orange{background-color: #fdbc00}
.bg-project{background-color: #17a2b8}
.bg-purple{background-color: #7639ea}
.bg-glass{background-color: #ffffff9e}
.bg-gray-pink{background-color: #de6f7e}

.bg-purple-red{background: linear-gradient(to right, #ff5d6c, #ef2f40, #ff2a63)}
.bg-purple-orange{background: linear-gradient(to right, #ffdf37, #ffc41b, #ffc507)}
.bg-purple-primary{background: linear-gradient(to right, #479fff, #2486ef, #009eff)}
.bg-purple-gradient{background: linear-gradient(to right, #9158ff, #7639ea, #6312ff)}

.border-right-red{border-right: 2px solid #dc3545}
.border-right-orange{border-right: 2px solid #fdbc00}
.border-right-purple{border-right: 2px solid #7639ea}
.border-right-primary{border-right: 2px solid #007bff}

::-webkit-scrollbar-track{ border-radius: 10px; background-color: #bbb}
::-webkit-scrollbar-thumb { background: #777; border-radius: 10px;}
::-webkit-scrollbar {width: 8px;}

.drop-shadow{
   box-shadow: 0 3px 7px #747474;
}

.f-weight-500{font-weight: 500}

.cursor-pointer{cursor: pointer}

.ui-container{display: grid; overflow-y: auto}

.ui-grid-70{grid-template-columns: 70px auto;}

.ui-container .ui-body-container{
   height: 90%;
   padding: 20px 20px;
}

.ui-btn{
   border: none;
   outline: none;
   color: white;
   font-size: 15px;
   padding: 7px 20px;
   border-radius: 5px;
   box-shadow: 0 1px 5px #666;
   background-color: #17a2b8;
}

.ui-user-avatar{
   margin-right: 5px;
   border-radius: 5px;
   border: 2px solid #636363;
   width: 35px !important;
   height: 35px !important;
}

.ui-asset-component{
   display: grid;
   grid-gap: 10px;
   grid-template-columns: 54% 45%;
}

.ui-slider-modal{
   display: flex;
   position: fixed;
   background: rgba(0,0,0,.8);
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   justify-content: center;
   align-items: center;
   animation: uiSliderModal cubic-bezier(.5,0,.3,1) .7s;
}
.ui-slider-modal[data-modal=false]{
   display: none !important;
}

.ui-slider-modal .fa-times{
   font-size: 25px;
   position: absolute;
   top: 25px;
   right: 25px;
}

.ui-slider-modal .ui-char-splitting{
   text-align: center;
   border-radius: 10px;
   font-size: 60px;
   overflow: hidden;
   position: absolute;
   width: 70%;
   height: 550px;
   margin: auto;
   box-shadow: 0 0 7px rgba(255,255,255,.8)
}

.ui-slider-modal .fa-chevron-left{
   position: absolute;
   left: 105px;
   font-size: 30px;
}
.ui-slider-modal .fa-chevron-right{
   position: absolute;
   right: 105px;
   font-size: 30px;
}

.ui-slider-modal .ui-char-splitting .ui-char,
.ui-slider-modal .ui-char-splitting p{
   position: absolute;
   z-index: 10;
   bottom: 100px;
   left: 20px;
   color: white;
   overflow: hidden;
}

.ui-slider-modal .ui-char-splitting p{
   width: 460px;
   font-size: 16px;
   text-align: left;
   bottom: 5px;
   transform: translateY(160%);
   transition: transform .8s cubic-bezier(.7,0,.3,1);
   transition-delay: calc(var(--char_index) * .1s)
}

.ui-slider-modal i{
   color: white;
}

.ui-slider-modal .ui-char-splitting img{
   width: 100%;
   opacity: 0;
   position: relative;
   transition: 1.7s cubic-bezier(.3,0,.7,1);
}

.ui-slider-modal .ui-char-splitting::before{
   content: '';
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, black, transparent);
   position: absolute;
   left: 0;
   right: 0
}

.ui-slider-modal .chars{
   display: inline-block;
   transform: translateY(100%);
   transition: transform .8s cubic-bezier(.7,0,.3,1);
   transition-delay: calc(var(--char_index) * .1s)
}

.ui-slider-modal [data-active=true] .chars{
   transform: translateY(0);
   transition-delay: calc((.8s / 2) + var(--char_index) * .1s)
}

.ui-slider-modal [data-active=true] p{
   transform: translateY(0);
   transition: transform 1.2s cubic-bezier(.7,0,.3,1);
   transition-delay: calc((.8s / 2) + var(--char_index) * .1s)
}

.ui-slider-modal [data-active=true] img{
   opacity: 1;
   transition: 1.7s cubic-bezier(.7,0,.3,1);
}

.ui-checkbox{
   position: relative;
}

.ui-checkbox input[type='checkbox']::before{
   position: absolute;
   content: '';
   z-index: 2;
   width: 20px;
   height: 20px;
   background: #ddd;
   border-radius: 2px;
   top: -3px;
   box-shadow: inset 0 0 5px #454545;
   border: 1px solid #767676;
}

.ui-checkbox input[type='checkbox']:hover::before{
   background: #aaa;
}

.ui-checkbox input[type='checkbox']:checked::before{
   border: none;
   background: #17a2b8;
   box-shadow: 0 0 2px #17a2b8;
}

.ui-checkbox input[type='checkbox']:checked::after{
   position: absolute;
   left: 6px;
   top: -1px;
   content: '';
   z-index: 5;
   width: 8px;
   height: 14px;
   border: solid white;
   border-width: 0 3px 3px 0;
   transform: rotate(45deg);
}

.ui-checkbox label{
   margin-left: 15px;
}

@keyframes uiSliderModal {
   0%{
      transform: scale(0);
   }
   25%{
      transform: scale(1.2);
   }
   50%{
      transform: scale(1);
   }
   75%{
      transform: scale(1.1);
   }
   100%{
      transform: scale(1);
   }
}