.ui-topnav{
    height: 60px;
    position: relative;
    background: #005da6;
}

.ui-topnav .ui-user-nav{
    font-size: 18px;
    text-align: right;
    position: relative;
    justify-self: end;
}

.ui-topnav .ui-user-nav i{
    color: #ebf2f5;
    font-size: 25px;
    margin-right: 20px;
}

.ui-topnav .ui-nav-init-link{
    cursor: pointer;
    padding: 5px 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.ui-topnav .ui-nav-init-link:hover{
    background: #2885ce;
}

.ui-user-avatar{
    margin-right: 5px;
    border-radius: 50%;
    width: 33px !important;
    height: 33px !important;
}

.ui-topnav .ui-user-dropdown{
    bottom: -146px;
    text-align: left;
    background: #fff;
    box-shadow: 0 5px 5px #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: absolute;
    border-radius: 5px;
    right: 0;
    z-index: 5;
    -webkit-animation: user-dropdown .3s;
    -o-animation: user-dropdown .3s;
    animation: user-dropdown .3s;
}

.ui-topnav .ui-user-dropdown a{
    padding: 5px;
    color: #464dee;
    text-decoration: none;
}

.ui-topnav .ui-user-dropdown p{
    margin: 0;
    padding: 10px 5px;
}

.ui-topnav .ui-user-dropdown p:hover{
    background: #eff7ff;
}

.ui-topnav img{
    width: 110px;
}

.ui-topnav .ui-search{
    width: 350px;
    height: 40px;
    padding: 5px;
    outline: none;
    color: #444;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
}

.ui-topnav .ui-search::placeholder{
    color: #777
}

.ui-topnav .ui-topnav-container{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 70% 30%;
}



.ui-navbtn:hover .ui-subcategory{
    display: block;
}

.ui-navbtn p,
.ui-navbtn i{
    color: #dfdfdf
}

.ui-navbtn:hover p,
.ui-navbtn:hover i{
    color: #fff
}

.ui-navbtn .ui-subcategory{
    display: none;
    width: max-content;
    padding: 10px;
    background: white;
    position: absolute;
    z-index: 5;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 0 5px #aaa;
    top: 53px;
    max-height: 250px;
    overflow-y: auto;
    -webkit-animation: option-dropdown .3s;
    -o-animation: option-dropdown .3s;
    animation: option-dropdown .3s;
}

.ui-navbtn .ui-subcategory p{
    padding: 2px 5px
}

.ui-navbtn .ui-subcategory a{
    color: #444;
}

.ui-navbtn .ui-subcategory a:hover{
    color: #464dee
}

.ui-hover-option:hover{
    border-bottom: 2px solid #fff;
}

.ui-hover-option:hover p{
    color: white !important;
}

.ui-hover-option:hover i{
    color: #fff !important;
}

@keyframes user-dropdown {
    from{
        opacity: 0;
        bottom: -120px;
    } to{
        opacity: 1;
        bottom: -146px;
      }
}
@keyframes option-dropdown {
    from{
        opacity: 0;
        top: 40px;
    } to{
        opacity: 1;
        top: 53px;
      }
}