.ui-success-modal {
    display: flex;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    background: rgba(0, 0, 0, .7);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    -webkit-animation: success  2s cubic-bezier(0, 0.99, 0.92, 0.99);
    -o-animation: success  2s cubic-bezier(0, 0.99, 0.92, 0.99);
    animation: success  2s cubic-bezier(0, 0.99, 0.92, 0.99);
}
.ui-success-modal .ui-container{
    width: 395px;
    height: 375px;
    background: white;
    border-radius: 8px;
}
.ui-success-modal .ui-container .ui-image-container{
    width: 100%;
    background: #e4f7e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    justify-content: flex-end;
}
.ui-success-modal .ui-container .ui-image-container img{
    width: 40%;
}
.ui-success-modal .ui-container .ui-content{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ui-success-modal .ui-container .ui-content h4{
    color: #3b3b3b;
    font-weight: 600;
    font-size: 25px;
    margin-top: 15px;
    text-shadow: 0 0 2px #282828;
}
.ui-success-modal .ui-container .ui-content p{
    color: #555;
    margin-top: 5px;
}

@keyframes success {
    0%{
        display: none;
        opacity: 0;
    }
    20%{
        display: flex;
        opacity: 1;
    }
    40%{
        display: flex;
        opacity: 1;
    }
    60%{
        display: flex;
        opacity: 1;
    }
    80%{
        display: flex;
        opacity: 1;
    }
    100%{
        display: none;
        opacity: 0;
    }
}