.ui-location-finder{
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

.ui-location-finder .ui-map-div{
    width: 100%;
    height: 100%
}

.ui-location-finder .ui-map-div > div > div{
    border: 3px solid #006878;
}
.ui-location-finder .ui-map-div div{
    transition: all linear !important;
}

.ui-location-finder .ui-location-card{
    width: 35%;
    height: 260px;
    overflow: hidden;
    position: relative;
    border: 3px solid #17a2b8;
    transition: all 0.3s cubic-bezier(0.01, 0.14, 0.89, 0.9);
}

.ui-location-finder .ui-location-card:hover::before{
    background: #17a2b81c;
}

.ui-location-finder .ui-location-card p{
    width: 100%;
    margin: 0;
    padding: 6px;
    font-size: 20px;
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: 2;
    color: white;
    background: #17a2b8;
}

.ui-location-finder .ui-location-card:hover p{
    bottom: 0;
}
.ui-location-finder .ui-location-card:hover img{
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
}

.ui-location-finder .ui-location-card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.ui-location-finder .ui-location-card img{
    width: 100%;
    height: 100%
}