.reactDataTable{
    background: white;
    padding: 15px 5px;
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
}
.reactDataTable .table{
    width: 98.4vw;
    margin-bottom: 1rem;
    color: #212529;
    overflow-x: auto;
}
.reactDataTable select{
    color: #666666;
    font-weight: 600;
}


.reactDataTable .tbody p,
.reactDataTable .thead p{
    color: #0f88e7;
    font-size: 18px;
    flex-basis: 189px;
    padding: 12px 5px;
    font-weight: 600;
    margin: 0;
    text-transform: capitalize;
    border-color: transparent !important;
    flex-shrink: 0;
}
.reactDataTable .thead p{
    background: #c6e4f9;
}

.reactDataTable .tbody p{color: #555; font-size: 16px;}

.reactDataTable td{
    width: 200px;
    padding: 12px;
    vertical-align: middle;
}

.reactDataTable i{
    font-size: 20px;
}

.tbody .ui-tbody-child p{
    height: 55px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0 0 10px;
}

.tbody .ui-tbody-child{
    background: #e2f1fc;
    border: 1px solid #abc2d4;
    overflow: hidden;
}
.tbody .ui-tbody-child,
.thead{
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    align-items: center;
}
.thead{
    background: #c6e4f9;
    border: 1px solid #abc2d4;
    overflow: hidden;
}
.reactDataTable .custom-search div{
    color: white;
    background: #329df0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tbody .ui-tbody-child:nth-child(even){
    background: white;
}
.tbody .ui-tbody-child:nth-child(odd) p{
    background: #e2f1fc;
}

.thead p:first-child,
.tbody .ui-tbody-child p:first-child{
    flex-basis: 60px;
}

.ui-table-functions p{
    flex-basis: 189px !important;
}

.thead p:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.thead p:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tbody p:hover{
   background: #eee;
}

.reactDataTable .page-link{
    color: #12b79e;
}

.reactDataTable .page-item.active .page-link{
    background: #12b79e;
}

.reactDataTable .page-item.active .page-link{
    border-color: #12b79e
}

.reactDataTable .ui-all-action{
    min-width: 189px !important;
    text-align: center;
}
.reactDataTable .ui-all-action span{
    margin-right: 15px;
}