.ui-received-by{
    position: absolute;
    width: 100%;
    height: 250px;
    background: #d2e2ef;
    top: 46px;
    border-radius: 5px;
    z-index: 1;
    overflow-y: auto;
    animation: animte .5s;
}

@keyframes animte {
    from{
        top: 20px;
    }
    to{
        top: 46px;
    }
}