

.ui-multiselect{
    width: auto;
    padding: 5px;
    height: 32px;
    overflow-y: auto;
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 0;
    z-index: 5;
    background: white;
    transition: all 0.2s cubic-bezier(0.01, 0.14, 0.89, 0.9);
}

.ui-multiselect > div{
    display: flex;
    align-items: center;
    background: #e8f5ff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.ui-multiselect > div:last-child{
    margin-bottom: 0;
}

.ui-multiselect > div > label{
    margin-left: 5px;
    word-break: break-word;
}

.ui-multiselect:hover{
    z-index: 5;
    height: 155px;
}


.reactDataTable{
    background: white;
    padding: 15px 5px;
    width: max-content;
    border-radius: 5px;
    margin: 0 auto;
}

.reactDataTable select{
    color: #666666;
    font-weight: 600;
}
.reactDataTable .tbody p,
.reactDataTable .thead p{
    color: white;
    font-size: 14px;
    width: 200px;
    padding: 10px 3px;
    font-weight: 600;
    margin: 0;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    background-color: transparent !important;
    border-color: transparent !important;
}

.reactDataTable .tbody p{color: #555; font-size: 14px;}

.reactDataTable td{
    width: 130px;
    padding: 12px;
    vertical-align: middle;
}

.reactDataTable i{
    font-size: 20px;
}

.reactDataTable .tbody p:nth-child(even){
    background: #eafffc;
}

.reactDataTable .tbody .ui-tbody-child,
.reactDataTable .thead{
    background: #c6e4f9;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    align-items: center;
}

.reactDataTable .custom-search div{
    color: white;
    background: #329df0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.reactDataTable .tbody .ui-tbody-child:nth-child(even){
    background: white;
}
.reactDataTable .tbody .ui-tbody-child:nth-child(odd){
    background: #e5f2fb;
}

.reactDataTable .thead p:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.reactDataTable .thead p:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.reactDataTable .tbody p:hover{
    background: #eee;
}

.reactDataTable .page-link{
    color: #12b79e;
}

.reactDataTable .page-item.active .page-link{
    background: #12b79e;
}

.reactDataTable .page-item.active .page-link{
    border-color: #12b79e
}

.ui-print{
    padding: 30px;
    max-width: 80%;
    margin: 5% auto;
    border: 2px solid #888;
    border-radius: 5px;
}
.ui-print .print-header{
    display: flex;
    margin-bottom: 7%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.ui-print .print-header h5{
    color: #555;
    border-bottom: 3px solid #c4c4c4;
    width: 100%;
    font-size: 22px;
    text-align: center;
    padding-bottom: 5px;
}
.ui-print .print-header strong{
    color: #666;
    width: 100%;
    border-bottom: 3px solid #c4c4c4;
    text-align: center;
    padding-bottom: 5px;
}
.ui-print .print-body .client-info{
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 70% 30%;
}
.ui-print .print-body .delivery-info p,
.ui-print .print-body .client-info p{
    padding: 10px;
    border: 2px solid #aaa;
    color: #444;
    margin-bottom: 0;
}
.ui-print .print-body .delivery-info{
    margin-bottom: 20%;
}
.ui-print .print-body .sideTable,
.ui-print .print-body .table{
    display: grid;
    margin-bottom: 0;
    grid-template-columns: 20% 45% 35%;
}
.ui-print .print-footer p{
    padding-bottom: 7px;
    border-bottom: 3px solid #c4c4c4;
}

@media print{
    .ui-print{
        padding: 30px;
        max-width: 80%;
        margin: 5% auto;
        border: 2px solid #888;
        border-radius: 5px;
    }
    .ui-print .print-header{
        display: flex;
        margin-bottom: 7%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .ui-print .print-header h5{
        color: #555;
        border-bottom: 3px solid #c4c4c4;
        width: 100%;
        font-size: 22px;
        text-align: center;
        padding-bottom: 5px;
    }
    .ui-print .print-header strong{
        color: #666;
        width: 100%;
        border-bottom: 3px solid #c4c4c4;
        text-align: center;
        padding-bottom: 5px;
    }
    .ui-print .print-body .client-info{
        display: grid;
        margin-bottom: 20px;
        grid-template-columns: 70% 30%;
    }
    .ui-print .print-body .delivery-info p,
    .ui-print .print-body .client-info p{
        padding: 10px;
        border: 2px solid #aaa;
        color: #444;
        margin-bottom: 0;
    }
    .ui-print .print-body .delivery-info{
        margin-bottom: 20%;
    }
    .ui-print .print-body .sideTable,
    .ui-print .print-body .table{
        display: grid;
        margin-bottom: 0;
        grid-template-columns: 20% 45% 35%;
    }
    .ui-print .print-footer p{
        padding-bottom: 7px;
        border-bottom: 3px solid #c4c4c4;
    }
}