.ui-multiselect{
    width: 220px;
    padding: 5px;
    height: 35px;
    overflow-y: auto;
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 7px;
    background: white;
}

.ui-multiselect:hover{
    z-index: 5;
    height: 125px;
}