.p-multiselect{
    width: 100%;
    height: 100%;
}

.p-multiselect .p-multiselect-label-container{
    height: 100%;
}

body .p-multiselect .p-multiselect-label.p-placeholder{
    display: flex;
    height: 100%;
    align-items: center;
}

body .p-multiselect .p-multiselect-label{
    max-width: 250px;
}

.red-select .p-multiselect{border: 2px solid red}


.ui-mis-gsection{
    background: white;
    border-radius: 5px;
}
.ui-mis-gsection .ui-graph-container{
    height: 100%;
}
.ui-mis-gsection .ui-graph-container .ui-graph-holder{
    height: 80%;
}

.ui-mis-gsection .ui-graph-container .ui-top{
    display: grid;
    position: relative;
    grid-template-columns: 70% 20% 10%;
}

.ui-mis-gsection .ui-graph-container .ui-top h5{
    font-size: 18px;
}

.ui-mis-gsection .ui-graph-container .ui-top i {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 11px;
    font-weight: 500;
}

@media only screen and (max-width: 1380px) {
    .ui-mis-graph .ui-mis-gsection{
        height: 300px;
    }
}

@media only screen and (max-width: 1180px) {
    .ui-mis-graph .ui-mis-gsection{
        height: 280px;
    }
}